<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="See your Whiskeys">
    <link rel="icon" href="/images/main-icon.bmp">

    <title>Whiskey Organizer - See your collection</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Welcome, <%= current_user.username %>!</h4>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <ul class="list-unstyled">
                <li><a href="/items" class="text-white">My Collection</a></li><br>
                <li><a href="/whiskeys" class="text-white">Our Whiskey Collection</a></li><br>
                <li><a href="/items/new" class="text-white">Add Item</a></li><br>
                <li><a href="/logout" class="text-white">Log Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Whiskey Organizer</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
        <% if current_user == @user %>
          <h1 class="jumbotron-heading">Your Whiskey Collection</h1>
          <p class="lead text-muted">You're quite the Ron Swanson...</p>
        <% else %>
          <h1 class="jumbotron-heading"><%=@user.username%>'s Whiskey Collection</h1>
          <p class="lead text-muted">They have good taste...</p>
        <% end %>
          <!--<p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>-->
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <% @items.each do |item| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <ul class="card-text">
                    <li><%= item.whiskey.brand %></li>
                    <li><%= item.whiskey.name %></li>
                    <li><%= item.whiskey.whiskey_type %></li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <form  method="get">
                      <button type="submit" formaction="/items/<%= item.id %>" class="btn btn-sm btn-outline-secondary">View</button>
                      <% if item.user == current_user %>
                      <button type="submit" formaction="/items/<%= item.id %>/edit" class="btn btn-sm btn-outline-secondary">Edit</button>
                      <% end %>
                    </form>
                    </div>
                    <small class="text-muted">Last tasted: <%= item.last_tasted_date %></small>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
            

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-left">
            <a href="/logout">Log Out</a>
        </p>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.min.js"></script>
  </body>
</html>